<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1 style="text-align: center">Welcome!!</h1>
        
    <p><a href="{{url_for('documentation')}}">La documentation de l'api</a></p>
    <p><a href="{{url_for('liste')}}">La liste de toute les veilles</a></p>
    <p><a href="{{url_for('dashboard')}}">Le dashboard</a></p>
    <p><a href="{{url_for('apidoc')}}">L'api</a></p>

</body>
</html>
