<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <p><a href="{{url_for('accueil')}}">Revenir à l'accueil</a></p>
    <h1 style="text-align: center" >Bienvenue sur le <i>dashboard</i> Ici vous pouvez modifier et supp vos veilles</h1>

</body>
</html>